@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(270 20% 97%);
  --foreground: hsl(270 8% 20%);
  --card: hsl(270 25% 98%);
  --card-foreground: hsl(270 8% 20%);
  --popover: hsl(270 25% 98%);
  --popover-foreground: hsl(270 8% 20%);
  --primary: hsl(270 30% 65%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(110 20% 80%);
  --secondary-foreground: hsl(270 8% 20%);
  --muted: hsl(280 20% 90%);
  --muted-foreground: hsl(270 10% 45%);
  --accent: hsl(300 30% 90%);
  --accent-foreground: hsl(270 8% 20%);
  --destructive: hsl(0 70% 55.0000%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(280 15% 88%);
  --input: hsl(280 15% 92%);
  --ring: hsl(270 30% 65%);
  --chart-1: hsl(270 35% 70%);
  --chart-2: hsl(110 25% 55.0000%);
  --chart-3: hsl(40 40% 75%);
  --chart-4: hsl(200 30% 80%);
  --chart-5: hsl(10 55.0000% 80%);
  --sidebar: hsl(270 15% 90%);
  --sidebar-foreground: hsl(270 8% 20%);
  --sidebar-primary: hsl(270 25% 50%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(110 20% 70%);
  --sidebar-accent-foreground: hsl(270 8% 20%);
  --sidebar-border: hsl(270 10% 80%);
  --sidebar-ring: hsl(270 30% 65%);
  --font-sans: "Avenir Next", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: -0.25rem;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(270, 10%, 20%);
  --shadow-2xs: 0rem 0.25rem 0.75rem -0.25rem hsl(270 10% 20% / 0.05);
  --shadow-xs: 0rem 0.25rem 0.75rem -0.25rem hsl(270 10% 20% / 0.05);
  --shadow-sm: 0rem 0.25rem 0.75rem -0.25rem hsl(270 10% 20% / 0.10), 0rem 1px 2px -1.25px hsl(270 10% 20% / 0.10);
  --shadow: 0rem 0.25rem 0.75rem -0.25rem hsl(270 10% 20% / 0.10), 0rem 1px 2px -1.25px hsl(270 10% 20% / 0.10);
  --shadow-md: 0rem 0.25rem 0.75rem -0.25rem hsl(270 10% 20% / 0.10), 0rem 2px 4px -1.25px hsl(270 10% 20% / 0.10);
  --shadow-lg: 0rem 0.25rem 0.75rem -0.25rem hsl(270 10% 20% / 0.10), 0rem 4px 6px -1.25px hsl(270 10% 20% / 0.10);
  --shadow-xl: 0rem 0.25rem 0.75rem -0.25rem hsl(270 10% 20% / 0.10), 0rem 8px 10px -1.25px hsl(270 10% 20% / 0.10);
  --shadow-2xl: 0rem 0.25rem 0.75rem -0.25rem hsl(270 10% 20% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(270 12% 15%);
  --foreground: hsl(270 15% 88%);
  --card: hsl(270 15% 18%);
  --card-foreground: hsl(270 15% 88%);
  --popover: hsl(270 15% 18%);
  --popover-foreground: hsl(270 15% 88%);
  --primary: hsl(270 25% 50%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(110 15% 30%);
  --secondary-foreground: hsl(270 15% 88%);
  --muted: hsl(280 10% 25%);
  --muted-foreground: hsl(270 10% 60%);
  --accent: hsl(300 20% 25%);
  --accent-foreground: hsl(270 15% 88%);
  --destructive: hsl(0 60% 45%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(280 10% 30%);
  --input: hsl(280 10% 28.0000%);
  --ring: hsl(270 25% 50%);
  --chart-1: hsl(270 30% 60%);
  --chart-2: hsl(110 20% 45%);
  --chart-3: hsl(40 30% 55.0000%);
  --chart-4: hsl(200 25% 60%);
  --chart-5: hsl(10 40% 65%);
  --sidebar: hsl(270 10% 20%);
  --sidebar-foreground: hsl(270 15% 88%);
  --sidebar-primary: hsl(270 20% 40%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(110 15% 25%);
  --sidebar-accent-foreground: hsl(270 15% 88%);
  --sidebar-border: hsl(270 8% 28.0000%);
  --sidebar-ring: hsl(270 25% 50%);
  --font-sans: "Avenir Next", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.375rem;
  --shadow-blur: 1rem;
  --shadow-spread: -0.25rem;
  --shadow-opacity: 0.2;
  --shadow-color: hsl(270, 10%, 10%);
  --shadow-2xs: 0rem 0.375rem 1rem -0.25rem hsl(270 10% 10% / 0.10);
  --shadow-xs: 0rem 0.375rem 1rem -0.25rem hsl(270 10% 10% / 0.10);
  --shadow-sm: 0rem 0.375rem 1rem -0.25rem hsl(270 10% 10% / 0.20), 0rem 1px 2px -1.25px hsl(270 10% 10% / 0.20);
  --shadow: 0rem 0.375rem 1rem -0.25rem hsl(270 10% 10% / 0.20), 0rem 1px 2px -1.25px hsl(270 10% 10% / 0.20);
  --shadow-md: 0rem 0.375rem 1rem -0.25rem hsl(270 10% 10% / 0.20), 0rem 2px 4px -1.25px hsl(270 10% 10% / 0.20);
  --shadow-lg: 0rem 0.375rem 1rem -0.25rem hsl(270 10% 10% / 0.20), 0rem 4px 6px -1.25px hsl(270 10% 10% / 0.20);
  --shadow-xl: 0rem 0.375rem 1rem -0.25rem hsl(270 10% 10% / 0.20), 0rem 8px 10px -1.25px hsl(270 10% 10% / 0.20);
  --shadow-2xl: 0rem 0.375rem 1rem -0.25rem hsl(270 10% 10% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
body {
  letter-spacing: var(--tracking-normal);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
